button{
  transition-timing-function:ease-out;
  transition-duration: .2s;
  transition-property: border-color, background-color, color, opacity;
}
.back_link{
  /* position:relative; */
  padding:0 15px;
  margin: 10px auto;
}
.back_link button{
  position:relative;
  display: block;
  width: 37px;
  height: 37px;
  border:0;
  font-size: 14px;
  background: none;
  cursor: pointer;
}
.back_link button::before{
  content:'';
  position:absolute;
  left:calc(50% - 12px);
  top: calc(50% - 5px);
  width: 12px;
  height: 2px;
  background: #666;
  transform: rotate(-45deg);
}
.back_link button::after{
  content:'';
  position:absolute;
  left:calc(50% - 12px);
  top: calc(50% + 3px);
  width: 12px;
  height: 2px;
  background: #666;
  transform: rotate(45deg);
}
.conWrap{
  width: 414px;
  padding-bottom:150px;
  padding-top:58px;
}
.inner_h1{
  padding-bottom: 50px;
  margin: 0 auto;
}
.inner_h1 h1{
  font-size: 21px;
  font-weight: 400;
  text-align: center;
}
.inner_Text{
  padding: 0 10px 10px 10px;
}
.inner_Text p{
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  color:#666;
}

/* main - swiper-container */
body{
  margin: 0;
  padding: 0;
  position:relative;
}
.swiper-container, .swiper-container2, .swiper-container3, .swiper-container4, .swiper-container5, .swiper-container6{
  width: 414px; /*100%*/
  height:276px;
  overflow: hidden;
  position: relative;
}
.swiper-slide{
  text-align: center;
  /* 이미지를 가로 배치 */
  display:flex; /*플랙스박스*/
  justify-content: center; /*flex-start*/
  align-items: center;
}
.imgBox img{
  width:414px;
}

/* swiper slide */
.swiper-pagination-bullet { 
  width: 6px; 
  height: 6px; 
  background: transparent; 
  border: 1px solid #cdcdcd;
  opacity: 1; 
  }
.swiper-pagination-bullet-active { 
  width: 20px; 
  transition: width .5s; 
  border-radius: 5px;
  background: #cdcdcd; 
  border: 1px solid transparent; 
  }

.room_list{
  margin:0;
  padding:0;
}
.room_list .room{
  position:relative;
  padding-bottom:40px;
}

.room .room_content{
  position:relative;
  margin: 0 15px;
}
.room .room_content:after{
  content: '';
  display: block;
  clear:both;
}
.room .room_inside{
  padding: 13px 5px 19px 10px;
  border-bottom: 1px solid #d6d6d6;
  float:left;
  width: 100%;
}
.room .room_inside>span{
  display: block;
  font-size:13px;
  color:#252525;
}
.room .room_inside h2{
  display: inline-block;
  margin-top: 6px;
  font-size: 17px;
  color: #333;
  font-weight:400;
}
.room .room_info{
  margin-top:12px;
  padding-right: 80px;
}
.room .room_info_item{
  display:inline-block;
  margin-top: 4px;
  position:relative;
  margin-right: 11px;
  margin-left: 11px;
}
.room .room_info_item::before{
  display:block;
  content:'';
  position: absolute;
  top:50%;
  right:0;
  height: 10px;
  margin-top:-4px;
  background-color: #d6d6d6;
}
.room .room_info_title{
  font-weight: 400;
  font-size: 14px;
  color:#252525;
}
.room .room_info_text{
  margin-left:6px;
  font-size:14px;
  color: #252525;
}
.room_button{
  margin-top:15px;
  position: relative;
  text-align: center;
  display: inline-block;
  border:0;
  border-radius: 0;
  background:0 ;
  letter-spacing: -1px;
  vertical-align: top;
  appearance: none;
  border-color:#333;
  background-color: #333;
  color:#fff;
  width:100%;
  font-size:15px;
  line-height:40px;
  min-width:130px;
}
.room_button:hover{
  background-color: #000;
}
.room_button .span{
  white-space: nowrap;
}
.msg_wrap{
  background-color: #f5f5f5;
  margin: 0 15px;
  padding: 15px;
  margin-top:20px;
}
.msg_wrap .msg:before{
  content: '';
  display: block;
  position: absolute;
  top:3px;
  left:0;
  width: 14px;
  height:14px;
  background: url(../images/ico-helpul.png) no-repeat;
  background-size: 14px;
  vertical-align: middle;
  box-sizing: border-box;
}
.msg_wrap .msg{
  font-size: 12px;
  padding-left: 20px;
  position: relative;
  line-height: 18px;
  margin-bottom:8px;

}